---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const pageTitle = "Tag Index";
// const allPosts = Object.values(import.meta.glob("@/pages/posts/*.md", { eager: true }));
const allPosts = await getCollection("blog");
const uniqueTags = [...new Set(allPosts.map((post) => post.data.category).flat())];
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {
      uniqueTags.map((eachTag) => (
        <p class="tag">
          <a href={`/tags/${eachTag}`}>{eachTag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
