---
import MainCategory from "@/components/MainCategory.astro";
import SectionHeader from "@/components/SectionHeader.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCategoryTree } from "@/scripts/category";

const categoryTree = await getCategoryTree();
---

<BaseLayout>
  <SectionHeader section={"categories"} />
  <article>
    <div class="categories">
      {categoryTree.map((eachCategory) => <MainCategory node={eachCategory} />)}
    </div>
  </article>
</BaseLayout>

<style>
  article {
    max-width: 700px;
    margin: 1.2em auto 2.6em;
    padding: 0 1.2em;

    @media only screen and (max-width: 700px) {
      margin: 0.9em auto 2em;
      padding: 0 0.9em;
    }
  }

  .categories {
    display: flex;
    flex-direction: column;
    gap: 1.2em;

    @media only screen and (max-width: 700px) {
      gap: 0.9em;
    }
  }
</style>
