---
import Menu from "@/components/Menu.astro";
import Navigation from "@/components/Navigation.astro";
import ThemeIcon from "@/components/ThemeIcon.astro";
---

<header>
  <nav>
    <div>
      <ThemeIcon />
      <Menu />
    </div>
    <Navigation />
  </nav>
</header>

<style>
  div {
    display: flex;
    justify-content: space-between;
  }
</style>
