---
import { sectionMap } from "@/scripts/section.ts";

interface Props {
  shorten?: string;
  section: keyof typeof sectionMap;
  description?: string;
}

const { shorten, section, description } = Astro.props;
---

<div class="section-header-wrapper">
  <div class="section-shorten">{shorten ?? sectionMap[section].shorten}</div>
  <div class="section-title">{section}</div>
  <div class="section-description">{description ?? sectionMap[section].description}</div>
</div>

<style>
  .section-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-block-start: 0.9em;
    padding-block-end: 1em;
    background: hsla(253, 15%, 18%, 0.7);
    /* background: var(--bg-trans); */
    color: white;
    /* color: var(--text0); */
    html.dark & {
      background: var(--text-placeholder);
    }
    @media (max-width: 490px) {
      padding-block-start: 0.8em;
      padding-block-end: 0.9em;
    }
  }

  .section-shorten {
    font-size: 0.8em;
    @media (max-width: 490px) {
      font-size: 0.7em;
    }
  }

  .section-title {
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 0.9em;
    letter-spacing: -0.5px;
    text-align: start;
    margin-top: 0.05em;
    margin-bottom: 0.1em;
    @media (max-width: 490px) {
      font-size: 1.3em;
    }
  }

  .section-description {
    font-size: 0.9em;
    text-align: center;
    @media (max-width: 490px) {
      font-size: 0.8em;
      white-space: pre-wrap; /* 줄바꿈 문자(\n)를 렌더링하게 함 */
    }
  }
</style>
