---
import MainCategory from "@/components/MainCategory.astro";
import SectionHeader from "@/components/SectionHeader.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCategoryTree, type CategoryTree } from "@/scripts/category";
import { getI18nStaticPaths } from "@/scripts/i18n";

export async function getStaticPaths() {
  return getI18nStaticPaths(async (lang) => {
    const categoryTree = await getCategoryTree(lang);

    return {
      params: { lang },
      props: { categoryTree },
    };
  });
}

interface Props {
  categoryTree: CategoryTree;
}

const { lang } = Astro.params;
const { categoryTree } = Astro.props;
---

<BaseLayout lang={lang}>
  <SectionHeader lang={lang} section={"categories"} />
  <article>
    <div class="categories">
      {categoryTree.map((eachCategory) => <MainCategory lang={lang} node={eachCategory} />)}
    </div>
  </article>
</BaseLayout>

<style>
  article {
    max-width: 700px;
    margin: 1.2em auto 2.6em;
    padding: 0 1.2em;

    @media only screen and (max-width: 700px) {
      margin: 0.9em auto 2em;
      padding: 0 0.9em;
    }
  }

  .categories {
    display: flex;
    flex-direction: column;
    gap: 1.2em;

    @media only screen and (max-width: 700px) {
      gap: 0.9em;
    }
  }
</style>
