---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { SUPPORTED_LANGUAGES, useTranslations } from "@/scripts/i18n";
import { sectionMap } from "@/scripts/section";

export async function getStaticPaths() {
  return SUPPORTED_LANGUAGES.map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;
const t = useTranslations(lang);
---

<BaseLayout
  lang={lang}
  title={sectionMap.about.title}
  keywords={sectionMap.about.shorten[lang]}
  description={sectionMap.about.description[lang]}
>
  <main>
    <div class="content">
      <div class="information">
        <span class="quote">{t("about.quote")}</span><br />
        <span class="subspan">{t("about.quote.description")}</span>
      </div>

      <div class="section">
        <h1>{t("about.name")}</h1>
        <h2>{t("about.jobtitle")}</h2>
        <div class="information">
          <span>{t("about.email")} | {t("about.phone")}</span><br />
          <span>{t("about.address")}</span>
        </div>
      </div>

      <div class="section">
        <div class="information linefeed">{t("about.explain.study")}</div>
        <span class="information subspan">{t("about.explain.study.sub")}</span>
        <div class="information linefeed">{t("about.explain.mountain")}</div>
        <span class="information subspan">{t("about.explain.mountain.sub")}</span>
        <div class="information linefeed">{t("about.explain.humanity")}</div>
        <span class="information subspan">{t("about.explain.humanity.sub")}</span>
      </div>

      <div class="section">
        <h2>Resume:</h2>
        <h3>
          <a href="https://aaronryu.notion.site/resume" target="_blank" rel="noopener noreferrer">
            Notion Page
          </a>
        </h3>
      </div>
    </div>
  </main>
</BaseLayout>

<style>
  main {
    max-width: 900px;
    text-align: center;
    margin: 1.2em auto 2.6em;
    padding: 0 1.2em;

    @media only screen and (max-width: 700px) {
      margin: 0.9em auto 2em;
      padding: 0 0.9em;
      font-size: 0.9em;
    }
  }

  p,
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }

  h1 {
    font-size: 1.6em;
    font-weight: 400;
    margin: 0.5em 0 0;
    line-height: 1.3em;
    @media only screen and (max-width: 700px) {
      line-height: 1.1em;
    }
  }

  h2 {
    font-size: 1.15em;
    font-weight: 400;
  }

  h3 {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.1em;
  }

  span {
    font-weight: 400;
  }

  .quote {
    font-weight: 500;
  }

  .information {
    margin-top: 0.4em;
    line-height: 1.4em;
    font-weight: 600;

    @media only screen and (max-width: 490px) {
      margin-top: 0.2em;
      white-space: pre-wrap; /* 줄바꿈 문자(\n)를 렌더링하게 함 */
    }
  }

  .information.subspan {
    font-weight: 400;
  }

  .section {
    margin-top: 1.6em;
  }

  .linefeed {
    margin-top: 0.6em;
  }

  .resume-summary {
    text-align: start;
  }
</style>
